body {
  font-family: roboto;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");;
  color: #333;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  font-weight: 600;
  color: #222;
  letter-spacing: 1px;
}
#painel-info {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
  padding:5px;
}

.info-card {
  background-color: #ebeff5;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 200px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: 0.2s;
}
#lista-pedidos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.pedido-card {
  background-color:#ebeff5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;
}
/* Cores diferentes para status */
.pedido-card em {
  font-weight: bold;
  text-transform: capitalize;
  padding: 2px 6px;
  border-radius: 6px;
}

.pedido-card em.em-preparo {
  background-color: #fdd835;
  color: #333;
}

.pedido-card em.pronto {
  background-color: #81c784;
  color: white;
}

.pedido-card em.entregue {
  background-color: #64b5f6;
  color: white;
}

box-shadow: 0 4px 12px rgba(0,0,0,0.06);
transition: transform 0.2s ease;
}

.pedido-card:hover,
.info-card:hover {
  transform: scale(1.03);
}

.ativo {
  background-color: #ccd1d9;
  font-weight: bold;
  transform: scale (1.07);
}
/* Contador */
#contador {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #444;
}
